<div class="welcome-hero">
  <h1>Welcome to the ACM</h1>
  <h2>at University of Memphis</h2>
</div>

<ng-container *ngIf="recentTweet | async as tweet; else loading">
  <div class="recent-tweet" @listStagger>
    <div class="recent-tweet-header">
      <h1>Recent News</h1>
    </div>
    <img alt="Post image" *ngIf="tweet.imageURL" src="{{tweet.imageURL}}">
    <h1 class="tweet-text">{{tweet.text | tweetText}}</h1>
    <h2 class="tweet-date">at {{tweet.date | tweetDate}}</h2>
  </div>
</ng-container>

<ng-template #loading>
  <ngx-loading [show]="true"></ngx-loading>
</ng-template>
