<div class="nav-bar">
  <div class="logo-wrapper">
    <img alt="ACM Logo" src="/assets/images/acm-logo.png">
  </div>
  <div class="links">
    <a routerLink="/">Home</a>
    <a routerLink="members">Members</a>
    <a routerLink="services">Services</a>
    <a routerLink="events">Events</a>
    <a routerLink="pictures">Pictures</a>
  </div>
</div>
<div class="content">
  <main id="main_content">
    <router-outlet></router-outlet>
  </main>
</div>
<div class="footer">
  <p>&copy; 2019 ACM at University of Memphis</p>
  <div class="contribute">
    <ntkme-github-button
      size="large"
      [count]="true"
      user="acm-mem"
      repo="acm-mem.com"
      type="fork">
    </ntkme-github-button>
  </div>
</div>
