.services .item,
.services a.item:link,
.services a.item:visited,
.services a.item:hover,
.services a.item:active {
  width: 310px;
  height: 64px;
  float: left;
  margin: 2em 0;
  outline: 0;
  text-decoration: none;
  color: #000;
}

.services .item .img_item {
  height: 64px;
  width: 64px;
  background-size: 64px 64px!important;
  float: left;
}
.services {
  .item {
    margin-bottom: 1.2em;
    .item_title {
      font-size: 14pt;
    }
  }
}

.services .item .item_desc_container {
  margin-left: 75px;
  padding-top: 3px;

  .item_desc {
    font-size: 9pt;
    color: #959595;
  }
}

.services .item {
  flex: 1 0 40%;
}

.services {
  display: flex;
  flex-wrap: wrap;
}
